<!DOCTYPE html>
<html>
  <head>
    <title>Puget Sound Tech Board</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      Hello, <%= current_user.first_name %> | <%= link_to "Sign out", '/signout' %>
    <% else %>
      <%= link_to "Sign up", 'signup' %> | <%= link_to "Sign in", '/signin' %>
    <% end %>
    | <%= link_to "Browse Profiles", "/profiles" %>
    | <%= link_to "Browse Listings", "/profiles/1/job_listings"%>
    | <%= link_to "Browse Skills", "/skills"%>
    <h1 class='jumbotron'>Puget Sound Tech Board</h1>
    <%= flash[:alert] %>
    <%= flash[:notice] %>

    <%= yield %>
  </body>
</html>
